/* hình nền */
body {
    padding: 0;
}
body {
    background-color: var(--primary-1-50);
    color: var(--white-100);
    background-image: url(/bloom/assets/img/login_bg.jpg);
}

.col_black {
    color: var(--black-80);
}

.font_20 {
    font-size: 20px;
}

h2 {
    color: var(--white-100);
    line-height: 65px;
}

* > a {
    color: var(--black-80);
}
* > a:hover {
    color: var(--black-80);
}


/* nút với thanh input */
